# Aux files
*.aux     
*.bbl     
*.bcf     
*.blg
*.json
*.html
*.log
*.out     
*.png
*.run.xml 
*.synctex.gz
*.tex
*.toc
Readme.org
\#*

# Aux folders
__pycache__/
_minted*/
auto/
pcc_2e/
Ch-[1-2]/
aux/

# Other folders
Hand_written_notes/
Dabbas-2021/
Nelli-2018/Ch-3/